body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
}